<p>
  Deze app is een ondersteuningstool voor de website <a href="https://www.weerwolvenvanwakkerdam.nl" target="_blank">www.weerwolvenvanwakkerdam.nl</a>.
	
	Het stelt de spelleiders van die website in staat om eenvoudig spellen te kunnen starten en onderhouden.
	
	Ze hoeven daardoor zel niks meer te berekenen of te schrijven.
	
	Ze hoeven alleen maar de acties van de spelers in te vullen en krijgen dan meteen te zien wat ze allemaal moeten posten en versturen.
</p>

<p>
	Het hoofdmenu bestaat uit de algemene onderdelen die voor alle spelleiders hetzelfde zijn.
	
	Home geeft het inlogscherm weer.
	
	Spelerslijst geeft de totale spelerslijst van alle in totaal bekende spelers weer.
	
	En uitleg geeft deze uitleg weer.
</p>

<p>
	In de app zelf kunnen spellen gestart en bijgehouden worden.
	
	Per spel zijn er eigenlijk 3 hoofdfunctionaliteiten.
	
	Er is per spel een spelerslijst die aangepast kan worden voordat het spel is begonnen.
	
	En nadat het spel is begonnen staan hier de rollen van de spelers.
	
	Bij invoeracties kunnen de acties van de spelers worden ingevoerd.
	
	Hierna wordt automatisch het resultaat van de speldag berekent.
	
	Bij uitvoeracties staan de acties die de spelleider moet uitvoeren na elke speldag.
	
	Dus de posts die gemaakt moeten worden en berichten die moeten worden verstuurd.
	
	Al deze berichten kunnen eenvoudig via een knop naar het klembord worden gekopieerd.
</p>

<button (click)="terug()">Terug</button>