.container{
	margin: 0.5em;
	display: grid;
	grid-template-columns: auto;
  grid-gap: 0.5em;
	width: 10em;
	div{
		padding: 0.5em;
		background-color: #333;
		border-radius: 1em;
		display: flex;
		border: 0.25em solid #ff0;
		div{
			border: 0;
		}
		div:last-child{
			margin-left: auto;
		}
	}
}