.container {
	color: #ff0;
	display: flex;
	flex-wrap: wrap;
	grid-gap: 0.5em;
	margin: 0.5em;
	grid-template-columns: auto auto auto auto;
	.wrap{
		border: 0.25em solid #ff0;
		background-color:#333;
		padding: 0;
		border-radius: 1em;
		display: flex;
		.tekst{
			padding: 0.75em;
		}
		div{
			span{
				background-color:#777;
				color: #008;
				padding: 0.775em;
				margin: 0 0.75em 0 -0.75em;
				border-radius: 0.7em 0 0 0.7em;
			}
			button{
				border: 0;
				border-radius: 0 0.7em 0.7em 0;
				background-color:#bbb;
				margin: 0;
				b{
					color: #f00;
				}
			}
		}
		div:last-child{
			margin-left: auto;
		}
	}
	.wrap:hover{
		background-color:#bbb;
		color: #f00;
		border: 0.25em solid #f00;
		div{
			span{
				color:#088;
				background-color:#333;
			}
			button{
				background-color:#333;
			}
		}
	}
}

.nieuweSpeler{
	margin: 0.5em;
	display: inline-block;
	border: 0.25em solid #ff0;
	background-color:#333;
	color: #ff0;
	padding: 0.75em;
	text-decoration: none;
	border-radius: 1em;
}

.nieuweSpeler:hover {
	border: 0.25em solid #f00;
	background-color:#bbb;
	color: #f00;
}

